body {
    text-align: center;
}

#inner {
    margin: 0 auto;
    border: 3px solid grey;
    border-radius: 30px 30px 30px 30px;
    width: 180px;
    height: 80px;
    background-size: cover;
    background: url("images/menu_bkgrd_blue.jpg");

}

#pin {
    font-size: 1.125rem;
    line-height: 1.44444em;
    font-weight: 700;
    text-align: right;
    color: aliceblue;
    padding-right: 15px;
    padding-top: 15px;
}
