body {
    text-align: center;
}

#inner {
    border: 4px solid grey;
    border-radius: 35px 35px 35px 35px;
    width: 200px;
    height: 100px;
    background-size: cover;
    background: url("images/menu_bkgrd_blue.jpg");

}

#pin {
    font-size: 1.125rem;
    line-height: 1.44444em;
    font-weight: 700;
    text-align: right;
    color: aliceblue;
    padding-right: 15px;
    padding-top: 15px;
}
