@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

p {
  font-family: Lato;
}

.example-card {
  max-width: 300px;
  margin: 4px;
  text-align: left;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
