<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span> Laboratory test standards</span>
  </mat-toolbar-row>
</mat-toolbar>

<div style="text-align: center">
  <p>
    Czas z servera to : {{time}}
  </p>
  <mat-card *ngFor="let msg of messages; let i = index" class="example-card">
    <mat-card-header>
      <div class="example-header-image" mat-card-avatar></div>
      <mat-card-title>Post {{i + 1}} </mat-card-title>
      <mat-card-subtitle>{{msg.author}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="content">
      <p>
        {{msg.content}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Author name:</mat-label>
      <input matInput placeholder="Ex. Name" [(ngModel)]="newMassage.author">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Massage:</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..." [(ngModel)]="newMassage.content" ]></textarea>
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="addNewMessage()" color="accent">Nowa wiadomość</button>
</div>
