@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

p {
  font-family: Lato;
}

.example-card {
  max-width: 300px;
  margin: 4px;
  text-align: left;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.example-form {
  color: burlywood;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
